.image-container .VPImage {
  width: 140px;
}
@media (min-width: 960px) {
  .image-container .VPImage {
    width: 180px;
  }
}

@media (min-width: 768px) {
  .VPContent .VPHome {
    padding-bottom: 60px;
  }
}
